.footer{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 0 4rem;
}


.footer .iconos{
  display: flex;
  color: #FFF;
  font-size: 1.5rem;
  gap: 2rem;
  margin-left: 5rem;
}

.footer .parrafos{
  color: #FFF;
  font-weight: 600;
}

.footer .parrafos p{
  margin-bottom: 1rem;
}